@model CarRental3.Models.CarDto

@{
    ViewBag.Title = "Edit Car";
    //var file = new FileContentResult(Model.Image, "image/jpeg");
}

@*<h2>EditCar</h2>*@


@using (Html.BeginForm("EditCar", "Cars", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Edit Car Details</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Registration, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Registration, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Registration, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Brand, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SeatsNumber, htmlAttributes: new { @class = "control-label pl-3" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SeatsNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SeatsNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-secondary" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CarCategory_Id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CarCategory_Id, ViewData["Department"] as SelectList, "Select Department", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CarCategory_Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CarStatus_Id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CarStatus_Id, ViewData["Status"] as SelectList, "Select Status", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CarStatus_Id, "", new { @class = "text-danger" })
                </div>
            </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input id="Img" type="file" name="ImagePath" accept="image/jpeg,image/png" onchange=" myfunction(this)" class="form-control" />
                    </div>
                </div>
           

        </div>
        <div class="col-md-4">

            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-offset-2 col-md-10">
                    <img id="d" class="img-thumbnail" src=@Url.Action("RetrieveImage","Cars", new { Id = Model.ID}) alt="Car Image" style="height:190px; width:286px;" />
                </div>
            </div>
        </div>
    </div>

</div>
}

<div class="pl-3">
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        //$(function () {
        //    $("#Img").change(function () {
        //        $.ajax({
        //            type: "POST",
        //            url: "/Cars/Displayimage",
        //            data: $('#ImageF').serialize
        //            //contentType: "application/json; charset=utf-8",
        //            //dataType: "json",
        //            //success: function (response) {
        //            //    alert("Hello: " + response.Name + " .\nCurrent Date and Time: " + response.DateTime);
        //            //},
        //            //failure: function (response) {
        //            //    alert(response.responseText);
        //            //},
        //            //error: function (response) {
        //            //    alert(response.responseText);
        //            //}
        //        });
        //    });
        //});
        //$(function() {

        //    $("#Img").change(function () {

        //        $("#ImageF").submit(); // Submit the form

        //    });

        //});
        //$(function () {
        //    $("#Img").change(function () {
        //        $('#ImageF').submit();
        //    });
        
        function myfunction(m) {
            if (m.files && m.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#d').attr('src', e.target.result)
                }
                reader.readAsDataURL(m.files[0]);
            }
            //var m = $('#img');
           
    
    </script>

}
